.page {

    background-color: #232a34;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
}

.header-slot,
.footer-slot {
    
    background-color: #171c22;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
}